.App {
  justify-content: center;
  display: flex;
  height:100vh;
}

.App-body {
  flex-direction: column;
  flex: 1;
  display: flex
}

.website {
  flex: 1;
}

.search {
  display: flex;
  justify-content: center
}

.App-link {
  color: #61dafb;
}

.test-class {
  width: 50%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
